@keyframes colors {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 180% 20%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.gradient {
    display: block;
    align-items: center;
    justify-content: center;
    height:320vh;
    background: linear-gradient(0deg, #00575e, #a6fce6);
    background-size: 200% 200%;
    animation: colors 10s ease infinite;
    overflow: hidden;
}

.botoes {
    margin-block: 12%;
    align-items: center;
    display: flex;
    justify-content: center;
} 

.button {
    display: block;
    width: 100%;
    border: none;
    background-color: #02459c;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
  
.button:hover {
    background-color: #ddd;
    color: black;
}